body {
    font-family: Times New Roman, Times, serif;
    margin: 0;
    padding: 0;
}

.encabezado {
    background-color: #96d4d6;
    padding: 20px;
    text-align: center;
}

.encabezado button {
    background-color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenido1 {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

.contenido2 {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}

.contenido1 h2, .contenido2 h2 {
    text-align: center;
}

.contenido1 button, .contenido2 button {
    background-color: #96d4d6;
    color: black;
    padding: 5px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.contenido1 button:hover, .contenido2 button:hover {
    background-color: #96d4d6;
    border-color: #bbb;
}

.contenido1 button:focus, .contenido2 button:focus {
    background-color: #96d4d6;
    border-color: #bbb;
}

.contenido1 button:active, .contenido2 button:active {
    background-color: #96d4d6;
    border-color: #bbb;
}

.contenido2 .col {
    font-weight: bold;
}

.titulo-turno {
    font-weight: bold;
    font-size: 20px;
}

#numero-turno {
    font-size: 24px;
    font-weight: bold;
}

#turno-actual {
    font-size: 24px;
    font-weight: bold;
}

#llamar-siguiente {
    display: block;
    margin: 10px auto 0;
}

#lista-espera {
    list-style: none;
    padding-left: 0;
}

#lista-espera li {
    background-color: white;
    padding: 8px 12px;
    margin-bottom: 6px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}